*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav__links {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}


a {
  margin: 0 5px;
}

.box-shadow{
  box-shadow: 0px 5px 5px rgb(0, 0, 0, 0.2);
}

